#resultado {
  grid-area: tela;
}

#apagar {
  grid-area: apagar;
}

#key_1 {
  grid-area: numero1;
}

#key_2 {
  grid-area: numero2;
}

#key_3 {
  grid-area: numero3;
}

#key_4 {
  grid-area: numero4;
}

#key_5 {
  grid-area: numero5;
}

#key_6 {
  grid-area: numero6;
}

#key_7 {
  grid-area: numero7;
}

#key_8 {
  grid-area: numero8;
}

#key_9 {
  grid-area: numero9;
}

#key_0 {
  grid-area: numero0;
}

#soma {
  grid-area: soma;
}

#subtracao {
  grid-area: subtracao;
}

#multiplicacao {
  grid-area: multiplicacao;
}

#divisao {
  grid-area: divisao;
}

#igual {
  grid-area: resultado;
}

#limpar {
  grid-area: limpar;
}

#ponto {
  grid-area: ponto;
}

.container {
  display: grid;
  grid-template-areas:
    "tela tela tela tela"
    "limpar apagar ponto divisao"
    "numero7 numero8 numero9 multiplicacao"
    "numero4 numero5 numero6 subtracao"
    "numero1 numero2 numero3 soma"
    "numero0 resultado resultado resultado";
}
